@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 1460px;
    margin: 20px auto;


}

.banner-bg {
    background: url("../resources/Banner\ Image.png");
    max-width: 1460px;
    padding: 200px;
}

.banner-text h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-text h1 {
    color: #FFF;
    width: 632px;
    text-align: center;
    font-size: 50px;


    font-weight: 900;
    margin: 0 auto;

}

.container-off {

    margin: 20px 380px;
}

.container-off-content {
    width: 1600px;

    text-align: center;
}

.container-off-content h1 {
    color: #F00;


    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-off-content p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.container-off-content h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-welcome {
    background: url("../resources/Vectorrr.png");
    width: 100%;
    margin: 30px auto;
    padding: 100px  200px;
    background-repeat: repeat-x;
    display: flex;
    justify-content: space-around;
}

.section-welcome .welcome-text h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
}

.section-welcome .welcome-text p {
    color: rgba(255, 255, 255, 0.80);
    width: 697px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.section-welcome .welcome-text h3{
    color: #FFF;
    
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

}