@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 1460px;
    margin: 100px auto;


}

.banner-bg {
    background: url("../resources/Banner\ Image.png");
    max-width: 1460px;
    padding: 200px 0 200px 0;
}

.banner-text h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-text h1 {
    color: #FFF;
    width: 632px;
    text-align: center;
    font-size: 50px;


    font-weight: 900;
    margin: 0 auto;

}

.container-off {

    margin: 0 auto;
}

.container-off-content {
    /* width: 1600px; */

    text-align: center;
}

.container-off-content h1 {
    color: #F00;


    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-off-content p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.container-off-content h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-welcome {
    background: url("../resources/Vectorrr.png");
    width: 100%;
    margin: 0 auto;
    padding: 100px 0  200px 0;
    background-repeat: repeat-x;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.section-welcome .welcome-text h2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    /* line-height: 88px; */
    letter-spacing: 7.04px;
    width: 642px;
}

.section-welcome .welcome-text p {
    color: rgba(255, 255, 255, 0.80);
    width: 697px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 30px; */

}

.section-welcome .welcome-text h3 {
    color: #FFF;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

}

.red {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.new-park {
    text-align: center;
    /* background-image: linear-gradient
    (180deg, rgba(255,0,0,0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center; */
    /* fill: linear-gradient(180deg, 
    rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);  */
    /* background-image: fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */
}

.new-park button {
    border-radius: 8px;
    background: #F00;
    padding: 23px 32px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: 0;
}

.new-park h1 {

    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.best-offer {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.best-offer .offer-img {
    border: 100px circle red;
}

.holiday-image {
    display: flex;
    justify-content: space-between;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.footer-copy {
    display: flex;
    justify-content: space-between;
}

footer {
    background: #070211;
    /* width: 1600px; */
    padding: 100px
}


footer p {
    color: #FFF;
}

.social {
    text-align: center;
    margin-bottom: 2 00px;
}

.contact {
    margin-bottom: 50px;
}

.footer-copy {
    margin-top: 100px;
}

.newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 100px;
    text-align: center;
}

.newsletter h1 {
    color: #070211;

    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.newsletter p {
    color: rgba(7, 2, 17, 0.60);
    max-width: 900px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 0 auto;
    /* 160% */
}

.newsletter form {
    max-width: 800px;
    display: flex;
    margin: 20px auto;
}

.newsletter form input {
    flex-grow: 1;
    border: none;
    padding: 20px;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
}

.newsletter form button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border: 0;
    padding: 10px;
}

.gift-heading h3 {
    color: #F00;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.gift-heading h1 {
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.gift-heading p {
    color: rgba(7, 2, 17, 0.60);
    max-width: 60 %;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.gift-img img {
    margin: 0 40px 15px 0;
    max-width: 100%;
    padding: 10px;
}

.holiday-heading h3 {
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holiday-heading h1 {

    color: #F00;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-heading p {
    color: rgba(7, 2, 17, 0.60);
    width: 900px;

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin: 0 auto;
    /* 160% */
}

.full-width img {
    width: 100%;
    background-repeat: repeat-x;
}

.holiday {
    background: url("../resources/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 20px;
}

.holiday-image img {
    margin-bottom: 200px;
    justify-content: space-between;
    flex-grow: 1;
}

.holiday-heading {
    margin-bottom: 200px;
}

.offer-text {
    width: 500px;
}

.offer-text h2 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.offer-text h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.offer-text p {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.offer-img img {
    border-radius: 463px;
    border: 15px solid #F00;
    width: 364px;


}
.offer-24{
    width: 400px;
}
.offer-24 h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    
}

.offer-24 p
    {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}
.gradiant{
    margin-top: 0;
    
    padding:100px 0 100px 0;
    background-color: antiquewhite;
    /* background: rgb(2,0,36); */
/* background: linear-gradient(180deg, rgba(255,0,0,0.10) 0%, rgba(255,0,0,0.00) 100%, rgba(0,212,255,1) 100%); */
}

/* fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */